<%= form_for(@coffee_attempt, class: "form form-horizontal") do |f| %>
  <% if @coffee_attempt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coffee_attempt.errors.count, "error") %> prohibited this coffee_attempt from being saved:</h2>

      <ul>
      <% @coffee_attempt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="form-group">
    <%= f.label :picture %>
    <%= f.file_field :picture %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
