<%= form_for @coffee_attempt, html: {class: "form form-horizontal"} do |f| %>


  <% if @coffee_attempt.errors.any? %>
    <div id="error_explanation" class="alert alert-notice">
      <h2><%= pluralize(@coffee_attempt.errors.count, "error") %> prohibited this coffee_attempt from being saved:</h2>

      <ul>
      <% @coffee_attempt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class=>"label" %>
    <%= f.text_field :name, :class=>'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description, :class=>"label" %>
    <%= f.text_area :description, :class=>'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :picture, :class=>"label" %>
    <%= f.file_field :picture, :class=>'form-control' %>
  </div>
  <div class="form-actions">
    <%= f.submit "Submit", :class=> 'btn btn-primary' %>
  </div>
<% end %>
