<header id="header">
  <nav class="">
  <div class="">
    <div class="container">
      <a class="brand" href="/">FlatWhite Fortunes</a>
      <ul class="nav">
        <li class="active"><a href="/coffee_attempts">Submissions</a></li>
        <li><%= link_to 'New Coffee attempt', new_coffee_attempt_path %></li>

        <% if user_signed_in? %>
          <li>
          <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
          </li>
        <% else %>
          <li>
          <%= link_to 'Login', new_user_session_path %>
          </li>
        <% end %>
        <% if user_signed_in? %>
          <li>
          <%= link_to 'Edit account', edit_user_registration_path %>
          </li>
        <% else %>
          <li>
          <%= link_to 'Sign up', new_user_registration_path %>
          </li>
        <% end %>
      </ul>
      <% if user_signed_in? %>
        Hi
        <%= current_user.user_name %>
      <% end %>
    </div>
  </div>
</nav>

</header>
