<header id="header" class="navbar navbar-fixed-top bs-docs-nav">
  <div class="container">
    <nav class="navbar-header" role="navigation">
      <div>
        <button type="button" class="navbar-toggle glyphicon glyphicon-align-justify" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">FlatWhite Fortunes</a>
      </div>
    </nav>

    <nav class="collapse navbar-collapse bs-navbar-collapse navbar-ex1-collapse" role="navigation">

      <ul class="nav navbar-nav">
        <li class="active"><a href="/coffee_attempts">View all</a></li>
        <li><%= link_to 'Add your Coffee Attempt', new_coffee_attempt_path %></li>
      </ul>

        <div class="pull-right">
          <div class="navbar-link">
            
                <% if user_signed_in? %>
                    <span class="navbar-link">Hi
                        <%= current_user.user_name %>
                    </span>
                    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
                <% else %>
                    <ul>
                        <li>
                            <%= link_to 'Login', new_user_session_path %>
                        </li>
                            <li><%= link_to 'Sign up', new_user_registration_path %>
                        </li>
                    </ul>

                <% end %>

          

      </div>
    </nav>

  </div>
</header>
