!!!
= html_tag :class => "no-js"
= render "head"
%body{:class => controller.controller_name}
  = render "chromeframe"
  = render "header"
  
  - [:error, :alert, :notice].each do |type|
    - if flash[type]
      .flash{:class => "alert alert-message #{type}", :'data-alert' => 'true', }
        %a.close{href: '#'} &times;
        =flash[type]

  .container
    %h1 FlatWhite Fortunes
    = yield
  = render "footer"
  = render "javascripts"